.DS_Store
**/.DS_Store

__pycache__
**/__pycache__

.idea/
tmp/

.ipynb_checkpoints/

*gif.py
refine_index.py
test*.py
clean_git.sh

websmooth.py
demo_webcam.py

examples/inputs/spoof/
weights/*.onnx
configs/ncc_code_53215.npy
pr.*
*.docx
render_3dface.ipynb
test_onnx.py
benchmark.py
how_to_make_video_demos.txt

.vscode/
test_pr*.py
demo_for_*.py
examples/**/zou*